name: Check AWS credentials

on:
  push:
    workflow_dispatch:

jobs:
  check-aws-access:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:

      - run: uname -a

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          role-to-assume: arn:aws:iam::887764105431:role/static-site-deploy
          aws-region: eu-west-2

      - run: aws --version
      - run: aws sts get-caller-identity
      - run: aws s3 ls
      - run: aws cloudfront list-distributions --query 'DistributionList.Items[0].[Id, Aliases]'

      - run: docker version
      - run: docker compose version

      - run: terraform --version

      - run: sudo apt-get install -y wget
      - run: wget https://github.com/gruntwork-io/terragrunt/releases/download/v0.43.0/terragrunt_darwin_amd64
      - run: mv ./terragrunt_darwin_amd64 ./terragrunt
      - run: chmod u+x ./terragrunt
      - run: ./terragrunt --version
