name: Check AWS credentials

on:
  workflow_dispatch:

jobs:
  check-aws-access:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:

      - run: uname -a

      # See: https://www.eliasbrange.dev/posts/secure-aws-deploys-from-github-actions-with-oidc/#:~:text=To%20be%20able%20to%20authenticate,Provider%20type%2C%20select%20OpenID%20Connect.
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-region: eu-west-2
          role-to-assume: arn:aws:iam::887764105431:role/static-site-deploy
          role-duration-seconds: 5
          role-session-name: check-aws-access-session

      - run: aws --version
      - run: aws sts get-caller-identity
      - run: aws s3 ls
      - run: aws cloudfront list-distributions --query 'DistributionList.Items[0].[Id, Aliases]'

      - run: docker version
      - run: docker compose version

      - run: terraform --version

      - run: sudo apt-get install -y wget
      - run: wget https://github.com/gruntwork-io/terragrunt/releases/download/v0.43.0/terragrunt_linux_386 --output-document ./terragrunt
      - run: chmod u+x ./terragrunt
      - run: ./terragrunt --version
